@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{

	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: $sans-serif;
	width: 100%;
	margin: 0;

}

body{
	margin:0;
	padding: 0;
}

.pic{
	margin: 0;
	padding: 0;
}

.background{
	width: 100%;
	height: 27.5rem;
	background: $orange;
	z-index: 1;
	opacity: .5;
	position: absolute;
}

.image {

	img{
		width: 100%;
		height: 30rem;
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
	}
}

.icon {
	text-decoration: none;
	color: $white;
	font-size: 80px;
	position: absolute;
	top: 200px
}

.main {
	z-index: 8;
	margin-top: -77px;
	margin-left: -72px;
	z-index: 1;
	padding: 60px;
	opacity: 100%;
}

.second{
	font-size: 0;
	z-index: 2;
	color: rgba(0,0,0,.4);

}
.group{
	top: 200px;
	text-align: center;
}

.qwote-btn{
	position: relative;
	top: 40%;
	padding: 20px;
}

.iron{

	&:hover{
	color: $yellow;
	background-color: $red ;
	}
}

.thor{

	&:hover{
	color: $light-blue;
	}

}
.captain{

	&:hover{
		color: $white;
		background-color: $blue;
	}
}

.hulk{

	&:hover{	
		color: $green;
	}
}

.widow{

	&:hover{
		color: $red;
	}
}
.hawk{

	&:hover{
		color: $purple;
	}
}

.shield{

	&:hover{
		color: $black;
		background: $white;
	}
}

.qwote-btn:hover{

	.second{
		font-size: 3.5rem;
		border-radius: 400px;
		line-height: 0px;
		width: 3.5rem;
		height: 3.5rem;
		display: inherit-block;
	}

	.iron {
		margin-top: -100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}

	.thor {
		margin-left: 70px;
		margin-top: -70px;
		font-size: 3.25rem;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}

	.captain {
		margin-left: 100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}

	
	.hulk {
		margin-left: 70px;
		margin-top: 70px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}
	
	.widow {
		margin-top: 100px;
		padding-top: .25rem;
		font-size: 3rem;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;

	}

	.hawk {
		margin-left: -70px;
		margin-top:70px;
		font-size: 3rem;
		animation: btn-rotate .75s ease;
		transition: all 0.5s ease;
		animation-fill-mode: both;
	}

	.shield {
		margin-left: -100px;
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}

	.panther{
		margin-left: -70px;
		margin-top: -70px; 
		animation: btn-rotate .75s ease;
		transition: all 0.75s ease;
		animation-fill-mode: both;
	}
}

@keyframes btn-rotate {
  0% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(360deg);
  }
}